---
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
// 下面这三个组件因为对应的区块被删除了，所以可以直接去掉或注释掉，保持代码整洁
// import LinkCard from "@/components/mdx/LinkCard.astro";
// import Showcase from "@/components/mdx/Showcase.astro";
// import Card from "@/components/temple/Card.astro";
import CardGroup from "@/components/temple/CardGroup.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Friends">
  <CardGroup cols="1">
    <MainCard
      title="友情链接"
      description="与有趣的灵魂相遇"
      textOverlay="FRIENDS"
      infoIcon="lucide:link"
    >
      <div class="space-y-10">
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <Icon name="lucide:users" class="w-6 h-6 text-primary" />
            <span>左邻右舍</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            
            </div>
        </section>
      </div>
    </MainCard>
  </CardGroup>
</BaseLayout>